/*=============================================
	Default Values
	
	Font family:	:Roboto Condensed

	Greenish Blue 	:#34c6d3 (Botones,iconos,links y backgrounds)
	Steel Gray 		:#41464b (Cabezeras)
	Blue Bayoux 	:#64707b (Paragraphs)
	White 			:#fff	 (Text with back banckground) 	
	Black			:#000	 ()
=================================================*/
/* General CSS */
	html, body{
		height: 100%;
	}
	body{
		font-family: "Roboto Condensed", sans-serif;
	}
	p{
		color: #64707b;
		font-size: 16px;
		font-weight: 300;
	}
	h3{
		color:#41464b;
		text-transform: uppercase;
	}
/*========================================================
						HOME
========================================================*/
	#home{
		height: 100%;
	}
	#home-cover{
		/*height:  100%;
		background-image:url("../img/portada/1.jpg");*/
		height:  100%;
		background-image: 
		url(../img/portada/1.jpg),
	 	url(../img/portada/2.jpg),
	 	url(../img/portada/4.jpg);
		animation: imagenes 18s linear infinity;
	}
	#home-content-box{
		width: 100%;
		height:100%;
		display: table;
	}
		
	#home-content-box-inner{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	#home-heading h3{
		color:#BECEE5;
		font-size: 55px;
		font-weight:700;
		margin: 20px 0 20px 0;
		text-transform: uppercase;
	}
	#home-heading h6{
		color:#BECEE5;
		font-size: 20px;
		font-weight:400;
		margin: 30px 0 30px 0;
		text-transform: uppercase;
	}
/*========================================================
					Fondo Movible
========================================================*/
	/*.contenido{
		width: 100%;
		height:100%;
	}
	.backgroundslider{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0px;
		left: 0px;
		z-index:-1;
	}
	.backgroundslider li{
		width: 100%;
		height: 100%;
		position: absolute;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0;
		animation: imagenes 18s linear infinity;
		-moz-animation:imagenes 18s linear infinite;
		-ms-animation:imagenes 18s linear infinite;
		-o-animation:imagenes 18s linear infinite;
		-webkit-animation:imagenes 18s linear infinite;
	}
	.backgroundslider li:nth-child(1){
		background-image: url(../img/portada/1.jpg);
	}
	.backgroundslider li:nth-child(2){
		background-image: url(../img/portada/2.jpg);
		animation-delay: 6s;
		-moz-animation-delay:6s;
		-ms-animation-delay:6s;
		-o-animation-delay:6s;
		-webkit-animation-delay:6s;
	}
	.backgroundslider li:nth-child(3){
		background-image: url(../img/portada/3.jpg);
		animation-delay: 12s;
		-moz-animation-delay:12s;
		-ms-animation-delay:12s;
		-o-animation-delay:12s;
		-webkit-animation-delay:12s;
	}

	@-o-keyframes imagenes{
		0% {opacity:0; animation-timing-function: ease-in;}
		10% {opacity:1; animation-timing-function: ease-out;}
		25% {opacity:0; transform: scale(1);}
		50% {opacity:1; transform: scale(2) rotate(20deg);}
		100%{opacity:0;}
	}
	@-ms-keyframes imagenes{
		0% {opacity:0; animation-timing-function: ease-in;}
		10% {opacity:1; animation-timing-function: ease-out;}
		25% {opacity:0; transform: scale(1);}
		50% {opacity:1; transform: scale(2) rotate(20deg);}
		100%{opacity:0;}
	}
	@-webkit-keyframes imagenes{
		0% {opacity:0; animation-timing-function: ease-in;}
		10% {opacity:1; animation-timing-function: ease-out;}
		25% {opacity:0; transform: scale(1);}
		50% {opacity:1; transform: scale(2) rotate(20deg);}
		100%{opacity:0;}
	}*/
/*========================================================
					Parallax(Genericos)
========================================================*/
	.bg-parallax{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center; 
		background-attachment: fixed;
	}
	#seccion{
		/*height:  100%;
		background-image:url(../img/fondo/fondo3.png);*/
	}
	#seccion1{
		height:  100%;
		background-image:url(../img/fondo/fondo3.png);
	}
/*========================================================
					Botones(Genericos)
========================================================*/
	.btn-general{
		/*border-color: #fff;
		border-width: 2px;
		border-radius: 0;
		padding: 12px 26px 12px 26px;
		font-transform:uppercase;*/
		border-width: 2px;
		border-radius: 0;
		padding: 12px 26px 12px 26px;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
	}
	.btn-white{
		border-color:#fff;
		color:#fff;
	}
	.btn-white:hover, .btn-white:focus{
		background-color: #fff;
		color:#41464b;
	}

	.btn-blue{
		border-color:#34c6d3;
		color:#34c6d3;
	}
	.btn-blue:hover,
	.btn-blue:focus{
		background-color: #34c6d3;
		color:#fff;
	}
	.btn-back-to-top{
		position: fixed;
		bottom: 20px;
		right: 20px;
		font-size: 22px;
		padding: 3px 15px;
		border-radius: 0;
		display: none;
	}
/*========================================================
						ANIMATE
========================================================*/
	#home-cover, 
	#home-heading, 
	#home-btn{
		animation-duration: .5s;
	}
	#home-cover{
		animation-delay:.1s;
	}
	#home-heading{
		animation-delay:.1s;
	}

	#home-btn{
		animation-delay:.5s;
	}
/*========================================================
						Contenido
========================================================*/
	.content-box{
		padding: 60px 0 60px 0;
		/*background-image:url(../img/fondo/fondo2.png);*/
		background-color: #E1F1E9;
	}
	.content-title h3{
		font-size: 30px;
		font-weight:700;
		text-align: center;
		margin: 30px 0px 30px 0px;
	}
	.content-title-white h3{
		color: #fff;
	}

	.content-title-underline{
		width: 30px;
		height: 3px;
		background-color: #34c6d3;
		margin: 0 auto 20px auto;
	}
/*========================================================
					Quien Soy
========================================================*/
	/************** Primera Seccion *******************/
		#yo{
			text-align: justify;
		}
		#yo-superior{
			/*padding: 40px 0 40px 0;
			margin-bottom: 10px; */
		}
		#yo-image{
			padding: 30px 30px 0px 0px;
			align-content: center;
		}
		#yo-image-cuadro{
			/*background-color: red;
			margin-top:0px;*/
		}
		#yo-des{
			margin-top: -10px;
		}
	/************** Segunda Seccion *******************/
		#yo-exp{
			align-content: center;
			margin-top: -10px;
		}
		h5{
			text-align: center;
		}
	/********** Primer Cuadrante *********/
		#yo-des1{
			/*background-color: silver;
			margin: 5px 0px 0px 0px;*/
		}
		#yo-des1-2-3{
			margin-bottom: 6px;
		}
		/********** Segundo Cuadrante *********/
		#yo-des2{
			/*background-color: orange;*/
			align-content: center;
			/*margin: 5px 10px 0px 0px*/;
		}
	/********** Tercer Cuadrante *********/
		#yo-des3{
			
			/*margin: 5px 10px 0px 0px*/;
		}
	/********** Cuarto Cuadrante *********/
		#yo-des4{
			
			/*margin: 5px 0px 0px 0px;*/
		}
/*========================================================
						Servicios
========================================================*/
	.service-item{
		padding: 20px 0 20px 0;
		margin-bottom: 20px;
		cursor: pointer;
	}
	.service-item-icon i{
		color:#34c6d3;
		float:left;
		padding: 20px;
		margin-right: 25px;
		width: 75px;
		height: 75px;
		text-align: center;
	}
	.service-item:hover .service-item-icon i{
		color:#fff;
		background-color: #34c6d3;
	}
	.service-item-title h3{
		font-size: 20px;
		font-weight: 400;
		margin: 0 0 10px 0;
	}
	.service-item-desc p{
		margin: 0;
		padding-left: 85px;
	}
/*=========================================================================
							Portafolio
=========================================================================*/
	.row.no-gutters [class*=col-]{
		/*La caja de div esta correcta solo que la imagen no abarca el 100% del div*/
		padding-right: 0px;
	    padding-left: 0px;
	}
	.img-wrapper{
		overflow: hidden;
	}
	.img-wrapper img{
		transition:transform .5s ease;
	}
	.img-wrapper img:hover{
		transform:scale(1.5);
		cursor:zoom-in;
	}	
/*=========================================================================
								CONTACTO
=========================================================================*/
	footer{
	background-color: #41464b;
	padding-top: 30px;
	border-top: 5px solid rgba(0,0,0,0.1);
	}
	#contact-left h3, #contact-rigth h3{
		color: #fff;
		font-size: 27px;
		font-weight: 700;
	}
	#contact-left p{
		color: #fff;
		margin-bottom: 30px;
	}
	#contact-info{
		background-image: url(../img/logos/10.jpg);
		background-repeat: no-repeat;
		background-size: contain;
	}
	address{
		color: #fff;
	}	
	address strong,
	#phone-fax-email strong{
		letter-spacing: 1px;
	}

	form .form-control{
		background: transparent;
		border-radius: 0;
		border-color: #fff;
		font-size: 17px;
		font-weight: 300;
		padding: 8px 16px;
		margin-bottom: 20px;
		color: #fff;
	}
/*========================================================
						SOCIAL
========================================================*/
	.social-list{
		padding-left: 0;
	}
	.social-list li{
		list-style: none;
		display: inline-block;
		width: 32px;
		height: 32px;
		margin-right: 6px;
		margin-top: 10px;
	}
	.social-icon i{
		font-size: 17px;
	}
	.icon-white i{
		color: #fff;
	}
	.icon-gray i{
		color: #64707b;
	}
	.social-icon i:hover{
		color: #34c6d3;
	}
/*=========================================================================
								FOOTER
=========================================================================*/
	#footer-bottom{
		background-color: rgba(0,0,0,0.1);
		padding: 30px 0;
		margin-top: 60px;
	}
	#footer-Copyrights p{
		margin: 0;
		color: #fff;
	}
	#footer-menu{
		float: left;
		color: #fff;
		font-size: 16px;
		font-weight: 300;
	}
	#footer-menu ul{
		list-style: none;
		padding-left: 0;
		margin: 0;
	}
	#footer-menu ul li{
		display: inline-block;
	}
	#footer-menu a{
		color: #fff;
		font-size: 16px;
		font-weight: 300;
		margin: 0 10px;
		text-decoration: none;
	}
	#footer-menu a:hover{
		color: #34c6d3;
	}
/*=========================================================================
								NAVEGATION
=========================================================================*/
	.navbar{
		transition:all .5s ease-in-out;
	}
	.vesco-top-nav{
		background: rgba(0, 0, 0, 0.7);
		padding: 7px 0;                	 	
	}

	.navbar-nav{
		float: right;
	}
	.navbar-nav>li>a{
		color: #fff;
		font-size: 15px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		margin-right: 20px;
	}
	.navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
		background: none;
		color: #34c6d3;
	}
	.navbar-toggle{
		background-color: rgba(0,0,0,0.1);
		border: 1px solid #fff;
		border-radius: 0;
	}
	.navbar-toggle .icon-bar{
		background-color: #fff;
	}
	.navbar-collapse{
		max-height: none !important; 
	}
	.vesco-top-nav ul.navbar-nav > li.active>a{
		color: #34c6d3;
	}
	/*************** INCORPORACIONES *********************/
	/*.menu-padre{
		text-align:center;
	
	}
	.vesco-menu{
		display:inline-block
	}
	.botones{
		float: right;
	}*/